* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #ece9e6, #ffffff);
  padding: 20px;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

/* POKEMON LIST PAGE */
.pokemon-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.pokemon-list-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.pokemon-list-pokemon {
  width: 200px;
  height: 200px;
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 4px 6px #0000001a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.pokemon-list-pokemon:hover {
  transform: scale(1.3);
}

.pokemon-list-pokemon img {
  width: 100px;
  height: 100px;
}

.pokemon-list-pokemon p {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
  text-transform: capitalize;
}

/* SINGLE POKEMON PAGE */

.single-pokemon-container {
  background: #5384b9;
  border-radius: 7px;
  box-shadow: 0 4px 8px #0000001a;
  padding: 20px;
  max-width: 800px;
  margin: 40px auto;
  text-align: left;
}

.inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.single-pokemon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.single-pokemon-header h2 {
  font-size: 2rem;
  color: white;
  text-transform: capitalize;
}

.single-pokemon-header .index {
  font-size: 1.2rem;
  color: white;
}

.single-pokemon-image img {
  width: 250px;
  height: 250px;
}

.single-pokemon-details {
  margin-top: 20px;
}

.detail-section {
  margin-bottom: 20px;
}

.detail-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: white;
  text-transform: capitalize;
}

.detail-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.detail-section li {
  background: #cadcf2;
  border-radius: 7px;
  padding: 10px 15px;
  margin: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: #216dbf;
  text-transform: capitalize;
}

.back-link {
  margin-top: 40px;
  margin-bottom: 20px;
}

.back-link a {
  color: #fff;
  background-color: #216dbf;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.3s ease;
  border-radius: 7px;
}

.back-link a:hover {
  background-color: #054b96;
}

/* SMALL SCREENS */

@media (max-width: 768px) {
  .inner-container {
    flex-direction: column;
  }

  .single-pokemon-image {
    margin-bottom: 20px;
  }
}
