* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #eff0f5;
}

.homepage-logo {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
}

.homepage-logo {
  width: 300px;
  height: auto;
  display: block;
  margin: 1rem auto;
}

.pokemon-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokemon-page-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  max-height: calc(100vh - 40px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.pokemon-page-pokemon {
  width: 300px;
  height: 300px;
  margin: 5px;
  padding: 20px;
  background-color: #ffffff94;
  border-radius: 20px;
  box-shadow: 0 8px 16px #0000001a;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-page-pokemon:hover {
  transform: translateY(-5px);
}

.pokemon-page-pokemon img {
  width: 230px;
  height: 230px;
}

.pokemon-page-pokemon p {
  color: #333;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.pokemon-details {
  min-width: 550px;
  padding: 20px;
  background-color: #fbfbfb;
  border-radius: 10px;
  box-shadow: 0 8px 16px #0000001a;
  position: sticky;
  top: 120px;
  right: 50px;
  height: 800px;
  align-self: flex-start;
}
