* {
  box-sizing: border-box;
  cursor: url('./images/pokeball.png'), auto;
}

.outer-container {
  width: 100%;
  background-color: #ff001eca;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon-container {
  background-color: #fffbfb;
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 500px;
  font-family: monospace;
  border: 2rem outset #c0ccff;
  outline: 2.5rem solid #3c5aa6;
  border-radius: 12px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pokemon-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.pokemon-btn a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.pokemon-btn button {
  height: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3c5aa6;
  border-radius: 10px;
}

.pokemon-name {
  color: #3c5aa6;
  text-align: center;
  font-size: 2rem;
}

.pokemon-index {
  color: #3c5aa6;
  text-align: center;
  font-size: 1.5rem;
}
.pokemon-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  height: 300px;
  margin: -50px;
  padding: -100px;
}

.pokemon-types {
  display: flex;
  flex-direction: column;
  text-align: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.types-heading {
  color: #3c5aa6;
  font-size: 1.5rem;
  margin-bottom: -30px;
}

.types-content {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
}

.pokemon-abilities {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.abilities-heading {
  font-size: 1.5rem;
  color: #3c5aa6;
  margin-bottom: -30px;
}

.abilities-content {
  font-size: 1.5rem;
}

.pokemon-moves {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.moves-heading {
  font-size: 1.5rem;
  color: #3c5aa6;
  margin-bottom: -30px;
}

.moves-content {
  font-size: 1.5rem;
}

.homepage,
.generations {
  background-image: url('./images/poke.jpeg');
  height: 850px;
  margin-left: 170px;
}

.homepage h1 {
  font-size: 5rem;
  text-align: left;
  color: #3c5aa6;
}

.homepage h2 {
  font-size: 2rem;
  text-align: left;
  margin-left: -50px;
  margin-top: -20px;
  margin-bottom: 70px;
}

.generations h1 {
  color: #3c5aa6;
}

.generations h2 {
  font-size: 3rem;
  text-align: left;
  margin-left: -50px;
  margin-top: 50px;
  margin-bottom: 70px;
  text-transform: capitalize;
  color: #3c5aa6;
}

.generations p {
  width: 30%;
  margin-bottom: 40px;
}

.generations h3 {
  font-size: 1.4rem;
  margin-left: -120px;
  color: #3c5aa6;
}

.homepage a,
.generations a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: monospace;
}

.homepage button,
.generations button {
  height: 50px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3c5aa6;
  border-radius: 10px;
  margin: 20px;
  color: white;
  font-size: 1.3rem;
}

.homepage button:hover,
.generations button:hover {
  background-color: #be1b1b;
}

.genOne a {
  color: #2c2b2b;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: monospace;
  transition: all 1000m;
}

.genOne a:hover {
  color: #3c5aa6;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
  cursor: url('./images/pokeball.png');
}

.getOne h2 {
  margin-top: 210px;
}

.habitats {
  line-height: 2rem;
  font-family: monospace;
}

.habitats li {
  text-decoration: none;
  list-style-type: none;
  font-size: 1.1rem;
}

.habitats h1 {
  font-size: 4rem;
  color: #3c5aa6;
}

.habitats h2 {
  font-size: 2rem;
  margin-bottom: 35px;
}

.habitats p {
}
